/* login.css */

/* login.css */

.login-wrapper {
    background-image: url('../images/background.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6); /* Adjust the alpha value for transparency */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    padding: 20px;
  }
  
  .form-box {
    z-index: 1;
  }
  
  
  
  .login-input-box {
    margin: 15px 0;
  }
  
  .login-input-box label {
    margin-bottom: 10px;
    display: block;
  }
  
  .login-input-box input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
  }
  
  .login-input-box input:focus {
    border: 1px solid #000;
  }
  
  .login-remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: rgb(1, 143, 34);
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    letter-spacing: 1px;
  }
  
  .login-btn:hover {
    background: #3d17fb;
  }
  
  .login-register-link {
    color: #3d17fb;
    text-decoration: none;
  }
  
  .login-register-link:hover {
    text-decoration: underline;
  }
  /* Add other styles as needed */
  