/* register.css */

/* register.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s linear;
  }
  
  .register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 25px;
    background: url('../images/background.jpg') center/cover no-repeat; /* Replace 'your-background-image.jpg' with the actual image path */
  }
  
  .register-form-box {
    width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Transparent white background */
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  
  .register-title {
    font-size: 20px;
    color: rgb(237, 55, 23);
    padding-bottom: 5px;
  }
  
  .register-input-box {
    margin: 15px 0;
    position: relative;
  }
  
  .register-input-box input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
  }
  
  .register-input-box input:focus {
    border: 1px solid #000;
  }
  
  .register-input-box .register-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #555;
  }
  
  .register-label {
    margin-bottom: 10px;
    display: block;
  }
  
  .register-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .register-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: rgb(1, 143, 34);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    letter-spacing: 1px;
  }
  
  .register-btn:hover {
    background: #3d17fb;
  }
  
  .register-login {
    margin-top: 15px;
    text-align: center;
  }
  
  .register-link {
    color: #3d17fb;
    text-decoration: none;
    font-weight: bold;
  }
  
  .register-link:hover {
    text-decoration: underline;
  }
  